
___
# **Ecommerce Purchases Exercise**

Ecommerce Purchases contains some Fake Data about some purchases done through Amazon. Follow the directions and try to answer the questions and complete the tasks.
____

**Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.**

In [34]:
import pandas as pd
ecom = pd.read_csv('Ecommerce_Purchases.csv')

**Check the head of the DataFrame.**

In [35]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

**How many rows and columns are there?**

In [36]:
print('Rows:',ecom.shape[0])
print('Columns:',ecom.shape[1])

Rows: 10000
Columns: 14

**What is the average Purchase Price?**

In [37]:
print('Purchase Price mean:',ecom['Purchase Price'].mean())

Purchase Price mean: 50.34730200000025

**What were the highest and lowest purchase prices?**

In [38]:
print('Purchase Price maximum:',ecom['Purchase Price'].max())
print('Purchase Price minimum:',ecom['Purchase Price'].min())

Purchase Price maximum: 99.99
Purchase Price minimum: 0.0

**How many people have English 'en' as their Language of choice on the website?**

In [48]:
df = ecom.groupby('Language')
df = df.get_group('en')
print('The number of people who chose "en":',df.shape[0])

The number of people who chose "en": 1098

**How many people have the job title of "Lawyer" ?**

In [49]:
df = ecom.groupby('Job')
df = df.get_group('Lawyer')
print('The number of lawyers:',df.shape[0])

The number of lawyers: 30

**How many people made the purchase during the AM and how many people made the purchase during PM ?**

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [56]:
df = ecom['AM or PM'].value_counts()
print('PM amount: ',df[0])
print('AM amount: ',df[1])

PM amount:  5068
AM amount:  4932

**What are the 5 most common Job Titles?**

In [58]:
ecom['Job'].value_counts().sort_values(ascending=False).head()

Interior and spatial designer    31
Lawyer                           30
Social researcher                28
Purchasing manager               27
Designer, jewellery              27
Name: Job, dtype: int64

**Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?**

In [79]:
print('Purchase price for lot 90 WT:',ecom['Purchase Price'].loc[ecom.Lot=='90 WT'])

Purchase price for lot 90 WT: 513    75.1
Name: Purchase Price, dtype: float64

**What is the email of the person with the following Credit Card Number: 4926535242672853**

In [83]:
ecom['Email'].loc[ecom['Credit Card'] == 4926535242672853]

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [153]:
ecom[ecom['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

**How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [99]:
df = ecom.loc[ecom['CC Provider']=='American Express'] 
print('The number of people: ',df.loc[df['Purchase Price']>95].shape[0])

The number of people:  39

**Hard: How many people have a credit card that expires in 2025?**

In [145]:
print('Cards expired in 2025:',ecom.loc[ecom['CC Exp Date'].str.split('/').str[1]== '25'].shape[0])

Cards expired in 2025: 1033

**Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)**

In [150]:
print('Top 5 domains:\n',ecom['Email'].str.split('@').str[1].value_counts().sort_values(ascending=False).head())

Top 5 domains:
 hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64