# PANDAS_revision

In [1]:
import pandas as pd
series = pd.Series([1,2,3,4,5]) # 1 dimensional like tuple
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [2]:
series = pd.Series([1,2,3,4,5], index=['a','b','c','d','c'])
print(series)

a    1
b    2
c    3
d    4
c    5
dtype: int64

In [11]:
print(series[2])
print(series[2:])
print(series.iloc[2])
print(series.loc['c'])
print(series.iloc[:2])
print(series.loc['d':]) #for index only

3
c    3
d    4
c    5
dtype: int64
3
c    3
c    5
dtype: int64
a    1
b    2
dtype: int64
d    4
c    5
dtype: int64

In [15]:
dates1 = pd.date_range('20190525', periods=12)
print(dates1)
series = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12])
series.index = dates1
print(series)
dates1.index=series
print(dates1)

DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01',
               '2019-06-02', '2019-06-03', '2019-06-04', '2019-06-05'],
              dtype='datetime64[ns]', freq='D')
2019-05-25     1
2019-05-26     2
2019-05-27     3
2019-05-28     4
2019-05-29     3
2019-05-30     7
2019-05-31     7
2019-06-01     8
2019-06-02     9
2019-06-03    10
2019-06-04    11
2019-06-05    12
Freq: D, dtype: int64
DatetimeIndex(['2019-05-25', '2019-05-26', '2019-05-27', '2019-05-28',
               '2019-05-29', '2019-05-30', '2019-05-31', '2019-06-01',
               '2019-06-02', '2019-06-03', '2019-06-04', '2019-06-05'],
              dtype='datetime64[ns]', freq='D')

In [18]:
dates2 = pd.date_range('2019-05-01', periods=12, freq='M')
print(dates2)

DatetimeIndex(['2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31',
               '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31',
               '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30'],
              dtype='datetime64[ns]', freq='M')

In [23]:
dates2 = pd.date_range('2019-05-20', periods=12, freq='MS') #the beginning of each month
print(dates2)

DatetimeIndex(['2019-06-01', '2019-07-01', '2019-08-01', '2019-09-01',
               '2019-10-01', '2019-11-01', '2019-12-01', '2020-01-01',
               '2020-02-01', '2020-03-01', '2020-04-01', '2020-05-01'],
              dtype='datetime64[ns]', freq='MS')

In [24]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10,4),
columns=list('ABCD')) #2 dimensional 
print(df)

          A         B         C         D
0 -2.901630  1.187692 -0.459893  0.312894
1  1.297385  0.669642  1.795809 -0.810114
2 -0.533181 -0.872982  0.142489  0.673220
3  0.545057  0.114913 -0.333215 -0.255176
4  0.264975 -1.111470 -1.046465 -0.651031
5  1.858047  0.330746  0.056446  1.143970
6  0.254362 -1.423887 -0.282924 -0.395987
7  1.202945  0.856010 -0.166753  0.419943
8 -1.510302 -0.139510  0.383218  0.726246
9  0.329227 -1.042220  0.603414  0.494878

In [ ]:
df = pd.read_csv('data.csv')
print(df)
print(df.values)
print(df.describe())
print(df.mean(0)) # 0 means compute the mean for each columns
print(df.mean(1)) # 1 means compute the mean for each row
print(df.head()) #first 5 rows
print(df.head(8))#first 8 rows
print(df.tail())#last 5 rows
print(df.head(8))#last 8 rows
print(df['A'])#A column same as df.A
print(df[['A','B']])#2 columns  not for loc and iloc
print(df[2:4]) #2-4 row 3 not included
print(df.iloc[2:4]) # 2-4 by index same as print(df.iloc[[2,4]]) this only for iloc
print(df.iloc[2:4, 1:4]) #row numbers 2 to 3, and column numbers 1 to 3
print(df['20190601':'20190603']) # for index only, same as print(df.loc['20190601':'20190603'])
print(df.loc['20190601':'20190603', 'A':'C']) #extract certain columns of certain rows by index
from datetime import datetime
date1 = datetime(2019, 6, 1, 0, 0, 0)
date2 = datetime(2019, 6, 3, 0, 0, 0)
print(df.loc[[date1,date2]])
print(df.loc[date1, ['A','C']])
print(df.at[d,'B'])
print(df[(df.A > 0) & (df.B>0)])
print(df.sort_index(axis=0, ascending=False)) # axis = 0 means sort by # index
print(df.sort_index(axis=1, ascending=False)) # axis = 1 means sort by # column
print(df.sort_values('A', axis=0)) # by column
print(df.sort_values('20190601', axis=1)) # by row
print(df.apply(np.sum, axis=0))# axis=1 is for each row

In [40]:
data = {'name': ['Janet', 'Nad', 'Timothy', 'June', 'Amy'],
'year': [2012, 2012, 2013, 2014, 2014],
'reports': [6, 13, 14, 1, 7]}
df = pd.DataFrame(data, index =
['Singapore', 'China', 'Japan', 'Sweden', 'Norway'])
print(df)

              name  year  reports
Singapore    Janet  2012        6
China          Nad  2012       13
Japan      Timothy  2013       14
Sweden        June  2014        1
Norway         Amy  2014        7

In [41]:
import numpy as np
schools = np.array(["Cambridge","Oxford","Oxford","Cambridge","Oxford"])
df["school"] = schools
print(df)

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
China          Nad  2012       13     Oxford
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [42]:
print(df.drop(['China', 'Japan'])) # drop rows based on value of index

            name  year  reports     school
Singapore  Janet  2012        6  Cambridge
Sweden      June  2014        1  Cambridge
Norway       Amy  2014        7     Oxford

In [43]:
print(df[df.name != 'Nad']) # drop row based on column value

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [44]:
print(df.drop(df.index[1]))

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
Japan      Timothy  2013       14     Oxford
Sweden        June  2014        1  Cambridge
Norway         Amy  2014        7     Oxford

In [45]:
print(df.drop(df.index[-2])) # remove second last row

              name  year  reports     school
Singapore    Janet  2012        6  Cambridge
China          Nad  2012       13     Oxford
Japan      Timothy  2013       14     Oxford
Norway         Amy  2014        7     Oxford

In [46]:
print(df.drop('reports', axis=1)) # drop column

              name  year     school
Singapore    Janet  2012  Cambridge
China          Nad  2012     Oxford
Japan      Timothy  2013     Oxford
Sweden        June  2014  Cambridge
Norway         Amy  2014     Oxford

In [47]:
print(df.drop(df.columns[[1,3]], axis=1)) # drop multiple columns

              name  reports
Singapore    Janet        6
China          Nad       13
Japan      Timothy       14
Sweden        June        1
Norway         Amy        7

In [48]:
df = pd.DataFrame(
{
"Gender": ['Male','Male','Female','Female','Female'],
"Team" : [1,2,3,3,1]
})
print(df)

   Gender  Team
0    Male     1
1    Male     2
2  Female     3
3  Female     3
4  Female     1

In [49]:
print("Displaying the distribution of genders in each team")
print(pd.crosstab(df.Gender, df.Team))

Displaying the distribution of genders in each team
Team    1  2  3
Gender
Female  1  0  2
Male    1  1  0

In [52]:
print(pd.crosstab(df['Team'], df['Gender']))

Gender  Female  Male
Team
1            1     1
2            0     1
3            2     0